{{ block title }}
Please place another option
{{ endblock }}
{{ block content }}

<style>
ol .list-group-item,
ul .list-group-item {
}


#items_src {
background-color: #eeffff;
width: 100%;
padding: 20px;
}

.ranked{
background-color: #ffffee;
border: none;
padding: 10px;
background-clip: padding-box;
}

.torank{
border: none;
background-color: inherit;
}

.cchoice {
padding: 10px;
font-size: 1.2em;
}
</style>


<p>In which position would you place <em>{{ new }}</em>?</p>

<div id="items_src">
    <div class="list-group-item torank">
    <button name="comparison_choice" value="0" class="bnt btn-primary cchoice">1</button>
    </div>
    {{ for idx, pos, label in options }}
    <div class="list-group-item ranked">{{ label }}</div>
    <div class="list-group-item torank">
    <button name="comparison_choice" value="{{ idx }}" class="bnt btn-primary cchoice">{{ pos }}</button>
    </div>
    {{ endfor }}
</ul>
</div>

{{ formfield_errors 'comparison_choice' }}

{{ endblock }}
