{{ block title }}
{{ if random_start }}
Please rank your options from best to worst.
{{ else }}
This is your ranking. Feel free to make further changes.
{{ endif }}
{{ endblock }}
{{ block content }}

<style>

ol .list-group-item,
ul .list-group-item {
display : list-item;
}

.menu-outbox {
display : flex;
flex-flow : row nowrap;
align-items : stretch;
}

.menu-box {
flex: 1 1 auto;
min-height: 100%;
max-height: 100%; max-width: 50%;
border: solid;
}
</style>

{{ if player.mode == 'Fill' }}
Please move each option from the left to the right column.
{{ endif }}
{{ if random_start }}
Note that the initial order is random.
{{ endif }}

<div >
<div class="menu-outbox">
{{ if player.mode == 'Fill' }}
<ul id="items_src" class="menu-box">
    {{ for idx, label in options }}
    <li data-id="{{ idx }}" class="list-group-item">{{ label }}</li>
    {{ endfor }}
</ul>
{{ endif }}
<ol id="items" class="menu-box">
{{ if player.mode != 'Fill' }}
    {{ for idx, label in options }}
    <li data-id="{{ idx }}" class="list-group-item">{{ label }}</li>
    {{ endfor }}
{{ endif }}
</ol>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    let el = document.getElementById('items');
    let sortable = new Sortable(el, {
        onChange: function (evt) {
            forminputs.ranking.value = sortable.toArray().join(',');
        },
        group : 'shared'
    });
    {{ if player.mode == 'Fill' }}
    let el_src = document.getElementById('items_src');
    let sortable_dest = new Sortable(el_src, {
        group : 'shared'
    });    
    {{ endif }}
</script>

<input type="hidden" name="ranking" id="ranking" value="{{ initial }}">

{{ formfield_errors 'ranking' }}

<p>
    {{ next_button }}

</p>

{{ endblock }}
