{{ block title }}
{{ if label_A != -1 }}
Please make a choice
{{ else }}
Comparisons finished
{{ endif }}
{{ endblock }}
{{ block content }}

{{ if label_A != -1 }}

<p>What is better?</p>
<button name="comparison_choice" value="1" class="bnt btn-primary">{{ label_A }}</button>
<button name="comparison_choice" value="-1" class="bnt btn-primary">{{ label_B }}</button>

{{ endif }}

 {{ formfield_errors 'comparison_choice' }}

{{ endblock }}
